<p>
  <b>Note:</b>
  <%=h @note.note %>
</p>

<p>
  <b>Version:</b>
  <%=h @note.version_id %>
</p>

<p>
  <b>User:</b>
  <%=h @note.user_id %>
</p>

<p>
  <b>X:</b>
  <%=h @note.x %>
</p>

<p>
  <b>Y:</b>
  <%=h @note.y %>
</p>

<p>
  <b>Width:</b>
  <%=h @note.width %>
</p>

<p>
  <b>Height:</b>
  <%=h @note.height %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
