= semantic_form_for [:admin,@style] do |form|
  = form.inputs do
    = form.input :site, :label => 'Site'
    = form.input :header_background, :label => 'Header Background'
    = form.input :header_text_color, :label => 'Header Text Color'
    = form.input :body_background, :label => 'Body Background'
    = form.input :body_text_color, :label => 'Body Text Color'
    = form.input :image_border, :label => 'Image Border'
  = form.buttons
