%section#intro
  .container
    %h2 Forgot Password
    
= render 'shared/flash', :flash => flash

.container
  %p.hello Forgot your password? Enter your email below and we'll send you a link to a page where you can reset it.

= form_tag send_reset_email_path, :id => 'forgot_password_form' do
  = label_tag :email
  = text_field_tag :email

  = submit_tag 'Send Reset Email', :class => 'button blue large'
  
= content_for :body_end do
  :javascript
    $(document).ready(function() {
      $('#email').focus();
    });