%section#intro
  .container
    %h2 Log In
    
= render 'shared/flash', :flash => flash

= form_tag login_go_path, :id => 'login_form' do
  = label_tag :email
  = text_field_tag :email
  = label_tag :password
  = password_field_tag :password
  = submit_tag 'Log In', :class => 'button blue large'
  
= content_for :head do
  = stylesheet_link_tag 'session'
  
= content_for :body_end do
  :javascript
    $(document).ready(function() {
      $('#email').focus();
    });