%section#intro
  .container
    %h2 Reset Password
    
= render 'shared/flash', :flash => flash
    
.container
  %p.hello Welcome back! Enter a new password below and we'll log you in and take you to your site.
  
= form_tag save_password_path, :id => 'reset_password_form' do
  = hidden_field_tag :t, params[:t]
  = label_tag :password, 'New Password'
  = password_field_tag :password

  = submit_tag 'Save Password', :class => 'button blue large'

= content_for :body_end do
  :javascript
    $(document).ready(function() {
      $('#email').focus();
    });