= semantic_form_for @build do |form|
  = form.inputs do
    = form.input :site, :label => 'Site'
    = form.input :name, :label => 'Name'
    = form.input :hashtag, :label => 'Hashtag'
    = form.input :archived, :label => 'Archived'
    = form.input :public, :label => 'Public'
    = form.input :last_login_at, :label => 'Last Login At'
    = form.input :views, :label => 'Views'
  = form.buttons
