%p#notice= notice

%p
  %b First name:
  = @user.first_name
%p
  %b Last name:
  = @user.last_name
%p
  %b Email:
  = @user.email
%p
  %b Password:
  = @user.password
%p
  %b Twitter:
  = @user.twitter
%p
  %b Role:
  = @user.role_id
%p
  %b Last login at:
  = @user.last_login_at
%p
  %b Login count:
  = @user.login_count

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
