%section#intro
  .container
    %h2 Help
    
.container.help
  %p.hello
    Stuck on something? Don't know how to use Twitter? We've got you covered. Check out the topics below. If you still can't figure something out email us at 
    = mail_to 'help@watchmemake.com'
  
  %h3#top Builds
  %ul
    %li= link_to %q{What is a "build"?}, :anchor => 'whats-a-build'
    %li= link_to %q{Can I change the order my images are in?}, :anchor => 'change-order'
    %li= link_to %q{What's a "hashtag" for?}, :anchor => 'whats-a-hashtag'
    
  %h3 Using Twitter
  %ul
    %li= link_to %q{What is Twitter, anyway?}, :anchor => 'what-is-twitter'
    %li= link_to %q{How do I upload an image with Twitter?}, :anchor => 'upload-via-twitter'

  %h3 Using Email
  %ul
    %li= link_to %q{How do I upload an image through email?}, :anchor => 'upload-via-email'
      
  %dl
    %dt(id="whats-a-build") What is a "build"?
    %dd 
      %p A build is meant to hold all the images for a single project. Let's say you're building a nightstand for a client. You would create a build called <em>Nightstand</em>, for example. Now all the images you take of the nightstand while you're building it will be posted to this page&mdash;the build. All of your builds are collected together on your site.
      %p You can have more than one build with the same name but they must each have a unique URL and Hashtag (if you're using hashtags, otherwise just leave this blank).
      = link_to 'Top', :anchor => 'top'
    
    %dt(id="change-order") Can I change the order my images are in?
    %dd 
      %p Absolutely&mdash;just drag and drop! Click and hold the mouse button on an image and then move it where you want it to go. When you're happy with the new position just release the mouse button.
      = link_to 'Top', :anchor => 'top'
      
    %dt(id="whats-a-hashtag") What's a "hashtag" for?
    %dd 
      %p If you only plan to upload images through the big <em>Click to Upload Images</em> button at the top of your build then you never need to worry about hashtags. If you want to upload images through Twitter or email, though, you'll need to set a hashtag for each build you want to send images to.
      %p A hashtag is simply a short, simple name that starts with a # symbol (sometimes called a hashmark) so that you can easily reference a build. For example, if you were building a necklace for someone you could use the hashtag <em>#necklace</em>. Now, when sending an image via Twitter you would include <em>#necklace</em> somewhere in the body of the tweet and we'll know to associate it to the proper build.
      %p To see a hashtag in context, check out #{link_to 'How do I upload an image with Twitter?'} and #{link_to 'How do I upload an image through email?'} topics below.
      = link_to 'Top', :anchor => 'top'
      
    %dt(id="what-is-twitter") What is Twitter, anyway?
    %dd
      %p Twitter is a way to let people know what you're doing in a short, simple fashion. Although it started out as away to just let friends know what you were doing, it's evolved into a marketing tool, instant news alert and a lot more. Messages sent from Twitter are called <em>tweets</em>.
      %p Shortly after people started using Twitter someone thought it would be a great idea to be able to send images as well. Although Twitter only lets you send text, you can include links to web pages. So, services came along that let you upload an image to them, then link to it from your tweet. This is how we can get images from Twitter and post them to your site.
      %p For a great introduction and explanation of how sending messages works, check out #{link_to 'http://www.jhische.com/twitter'}
      = link_to 'Top', :anchor => 'top'
      
    %dt(id="upload-via-twitter") How do I upload an image with Twitter?
    %dd
      %p Twitter itself doesn't allow to upload any images, but there are several third-party sites which do:
      %ul
        %li= link_to 'twitpic', 'http://twitpic.com'
        %li= link_to 'yfrog', 'http://yfrog.com'
        %li= link_to 'Instagram', 'http://instagr.am'
      %p These services are linked to your Twitter account so that you can include an image and post a tweet at the same time. The image itself isn't attached to the tweet, but the tweet will include a link <em>to</em> the image.
      %p If you're going to use these sites from the web browser on your computer you may as well just upload the images directly on your Build page and be done with it. The real benefit to posting with Twitter is when you have a smartphone (like an iPhone or Android-powered phone). There are many Twitter apps for these phones that make it easy to snap a picture and it in a tweet while you're working on your project. Just like if you decide to use #{link_to 'email', :anchor => 'upload-via-email'} to send your images, you'll need to remember a couple of things:
      %ol
        %li The first text in your tweet should be <em>@watchmemake</em> so that it's directed to us
        %li Include the #{link_to 'hashtag', :anchor => 'whats-a-hashtag'} that you set when you created your build, something like <em>#nightstand</em>
        %li Include the link to your image. All of the image services and phone apps will do this automatically
        %li Any other text in your tweet will become the description under the image (this is optional)
      %p Here's an example of a tweet I'm about to send to attach an image to my <em>#dresser</em> build using the <a href="http://itunes.apple.com/us/app/twitter/id333903271?mt=8">official Twitter app</a> for the iPhone on the left, and <a href="http://itunes.apple.com/us/app/twitterrific-for-twitter/id359914600?mt=8">Twitterrific</a> on the right. Note that the Twitter app doesn't show you what the link is going to be until after you send the tweet, Twitterific shows you right away:
      %p
        = image_tag 'help/twitter1.jpg'
        = image_tag 'help/twitter2.jpg'
      = link_to 'Top', :anchor => 'top'
      
    %dt(id="upload-via-email") How do I upload an image through email?
    %dd
      %p With all these new "social" services like Twitter and Facebook, there's something to be said for good old email. And it's super simple to send images to your build from your email address. Here are the steps:
      %ol
        %li The email should go <strong>To</strong> <em>images@watchmemake.com</em>
        %li The <strong>Subject</strong> should include the hashtag for your build (like <em>#nightstand</em>)
        %li <strong>Attach</strong> as many images as you'd like. Note that most email providers have a limit as to how much you can send in a single email. If you've got twenty images you want to include it's probably best to split them up into four or five separate emails.
        %li If you'd like to add a description you can add it in the <strong>Subject</strong> (along with the hashtag) or the <strong>Body</strong> of the email, where you'd normally type your message.
        %li Click send!
      %p Here's an example of an email I'm about to send to my <em>#dresser</em> build:
      %p
        = image_tag 'help/email.jpg'
      = link_to 'Top', :anchor => 'top'