%section#intro
  .container
    .text
      %h2 Give everyone a peek into your creative process
      %p
        %strong Watch Me Make
        is a way for artists, craftspeople and designers to show pictures of their work as it's being made. Let a client watch as you create their dresser, jewelry or painting.
      = link_to 'Sign Up', signup_path, :class => "button blue large"

%section#more_info
  .container
    %section#build
      %h3 What is this?
      %p 
        Are you an artist, craftperson or builder? Have you ever thought about letting a client watch over your shoulder as you're building something for them, minus the heavy breathing? 
        %strong Watch Me Make
        is for you (and them).

    %section#how
      %h3 How does it work?
      %p Take photos while you're working and <strong>tweet</strong>, <strong>email</strong> or <strong>upload</strong> them to us. You get a website to send your clients to and they can follow along with your progress.

    %section#cost
      %h3 How much does it cost?
      %p It's <strong>free</strong>!

%section#screen
  .container
    .screen
    %h3 Lots of ways to get photos to your site from a Mac, PC or smart phone.
    %ul
      %li#twitter 
        %p The quickest way to get your photos to your site is <strong>Twitter</strong>: snap a photo, attach it to a tweet and send it to @watchmemake.
        = link_to 'Learn More', help_path(:anchor => 'upload-via-twitter')
      %li#email
        %p Don't have access to your PC? You can <strong>email</strong> photos to your site from anywhere, even multiples at one time.
        = link_to 'Learn More', help_path(:anchor => 'upload-via-email')
      %li#upload
        %p You've probably got lots of photos on your computer already. Simply <strong>drag and drop</strong> them into your browser to upload them!
        =# link_to 'See it in action', '#' 
    .signup
      = link_to 'Sign Up', signup_path, :class => 'button large blue'

%section#demo
  .container
    %h3 Take a Quick Tour
    %iframe(width="853" height="510" src="http://www.youtube.com/embed/CeXtwY0CADk?hd=1" frameborder="0" allowfullscreen)
    .signup
      = link_to 'Sign Up', signup_path, :class => 'button large blue'
      
%section#examples
  .container
    %h3 Some Example Sites
    %ul
      %li.half.left
        = image_tag 'home/example-half-left.jpg'
      %li#dresser
        = link_to(image_tag('home/example-1.jpg'), '/cameronwoodworks/dresser')
        %h4= link_to "Jack's Dresser", '/cameronwoodworks/dresser'
        %p Created for my son, this dresser is made of Sapele and Douglas fir. Six drawers, six legs and ninety-two handcut dovetails.
      %li#cake
        = link_to(image_tag('home/example-2.jpg'), '/aimee/rachels-diaper-cake')
        %h4= link_to "Rachel's Diaper Cake", '/aimee/rachels-diaper-cake'
        %p My wife created this diaper cake for a friend's baby shower. Eighteen bumpcloths, thirty-six diapers and sixteen washcloths.
      %li#octokeg
        = link_to(image_tag('home/example-3.jpg'), '/cameronwoodworks/octokeg')
        %h4= link_to "GitHub's Octokeg", '/cameronwoodworks/octokeg'
        %p A friend was putting together a kegerator for his office and I offered to build a Walnut top featuring the company's logo inlaid in veneer.
      %li.half.right
        = image_tag 'home/example-half-right.jpg'
    .signup
      = link_to 'Sign Up', signup_path, :class => 'button large blue'