<h1>Listing versions</h1>

<table>
  <tr>
    <th>Description</th>
    <th>File</th>
    <th>Version</th>
    <th>Comp</th>
  </tr>

<% for version in @versions %>
  <tr>
    <td><%=h version.description %></td>
    <td><%=h version.file %></td>
    <td><%=h version.version %></td>
    <td><%=h version.comp_id %></td>
    <td><%= link_to 'Show', version %></td>
    <td><%= link_to 'Edit', edit_version_path(version) %></td>
    <td><%= link_to 'Destroy', version, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New version', new_version_path %>
