<p>
  <b>Description:</b>
  <%=h @version.description %>
</p>

<p>
  <b>File:</b>
  <%=h @version.file %>
</p>

<p>
  <b>Version:</b>
  <%=h @version.version %>
</p>

<p>
  <b>Comp:</b>
  <%=h @version.comp_id %>
</p>


<%= link_to 'Edit', edit_version_path(@version) %> |
<%= link_to 'Back', versions_path %>
