%header#site_header
  %h1
    = link_to site.name, site_path(site.path)
  
  %nav
    %ul
      - if owns_site?
        %li= link_to 'Admin', admin_home_path if current_user.is_admin?
        %li= link_to 'Settings', edit_site_path
        %li= link_to 'Help', help_path
        %li= link_to 'Logout', logout_path
      - else
        %li= link_to 'Log In', login_path
      /
        - if owns_site?
          Switch Sites
          = select_tag :sites, options_from_collection_for_select(current_user.sites, :path, :name, @site.path)
