- if style
  %style(type="text/css")
    :sass
      $header_background: #{style.header_background}
      $header_text: #{style.header_text_color}
      $body_background: #{style.body_background}
      $body_background_light: lighten(#{style.body_background.split(' ').first}, 5%)
      $body_text: #{style.body_text_color}
      $body_text_light: transparentize($body_text, 0.5)
      $image_border: #{style.image_border}
      $image_border_color: #{style.image_border.split(' ').last}
    
      header
        background: $header_background
        color: $header_text
        a
          color: $header_text
      body 
        background: $body_background
        color: $body_text
      a
        color: $body_text
      
      #builds
        & > li:hover
          background-color: transparentize($body_text, 0.95)
        .stats
          color: $body_text_light
        p.none
          color: $body_text_light
          border: 1px dashed $body_text_light
          
      .intro
        background-color: $body_background_light
      
      .edit_build
        background-color: $body_background_light
        
      #build_images 
        .none
          border: 1px dashed $body_text
        li 
          img
            border: $image_border !important
          .added
            color: $body_text_light
          form
            input
              background-color: $body_text
              color: $body_background
      .intro
        .reverse
          background-color: $body_background
          
      #new_image table.files td canvas
        border: 2px solid $image_border_color
      
      form#new_build, form.edit_build
        background-color: $body_background_light
        border: 1px solid $body_text
        span.example
          color: $body_text_light
          
      form.edit_user
        .preview
          span.title
            color: $body_text_light
        span.example
          color: $body_text_light
          
      footer
        background: $body_background
        
- if @build and owns_build?
  %style(type="text/css")
    :sass
      #build_images img
        cursor: move !important
        