- if style
  %style(type="text/css")
    :sass
      $header_background: #{style.header_background}
      $header_text: #{style.header_text_color}
      $body_background: #{style.body_background}
      $body_text: #{style.body_text_color}
      $image_border: #{style.image_border}
      $image_border_color: #{style.image_border.split(' ').last}
    
      header
        background: $header_background
        color: $header_text
        a
          color: $header_text
      body 
        background: $body_background
        color: $body_text
      a
        color: $body_text
      
      #builds
        & > li:hover
          background-color: transparentize($body_text, 0.95)
        .stats
          color: transparentize($body_text, 0.5)
          
      #build_images li img
        border: $image_border

      #new_image table.files td canvas
        border: 2px solid $image_border_color
