- if style
  %style(type="text/css")
    :sass
      $header_background: #{style.header_background}
      $header_text: #{style.header_text_color}
      $body_background: #{style.body_background}
      $body_text: #{style.body_text_color}
      $image_border: #{style.image_border}
      $image_border_color: #{style.image_border.split(' ').last}
    
      header
        background: $header_background
        color: $header_text
        a
          color: $header_text
      body 
        background: $body_background
        color: $body_text
      a
        color: $body_text
      
      #builds
        & > li:hover
          background-color: transparentize($body_text, 0.95)
        .stats
          color: transparentize($body_text, 0.5)
        p.none
          color: transparentize($body_text, 0.5)
          border: 1px dashed transparentize($body_text, 0.5)
          
      #build_images 
        .none
          border: 1px dashed $body_text
        li 
          img
            border: $image_border
          .added
            color: transparentize($body_text, 0.5)
      #new_image table.files td canvas
        border: 2px solid $image_border_color
      
      #new_build
        background-color: lighten($body_background, 5%)
        border: 1px solid $body_text
        span.example
          color: transparentize($body_text, 0.5)