= render :partial => 'site/styles', :locals => { :style => @site.style }
= render :partial => 'site/header', :locals => { :site => @site }

- if @site.builds.public.any?
  %ul#builds
    - @site.builds.public.each do |build| 
      %li
        - if build.images.any?
          %ul
            - build.images[0..2].each do |image| 
              - style = image.width > image.height ? "width:75px" : "height:75px"
              %li= link_to(image_tag(image.url, :style => style), build_path(@site.path, build.path))
              
        = link_to build.name, build_path(@site.path, build.path), :class => 'build_name'
- else
  %p.none
    = @site.name
    has no public builds to view!
    