- if @site.builds.publics.any?
  %ul#builds
    - @site.builds.publics.order('updated_at desc').each do |build| 
      %li(data-path="#{build_path(@site.path, build.path)}")
        - if build.images.any?
          %ul.images
            - build.images.order('position desc')[0..2].each do |image| 
              - style = image.width > image.height ? "width:75px" : "height:75px"
              %li= link_to(image_tag(image.url, :alt => '', :style => style), build_path(@site.path, build.path))
        - else
          %p.none No images yet
        .stats    
          %h2= link_to build.name, build_path(@site.path, build.path), :class => 'build_name'
          %ul
            %li.count= pluralize(build.images.count, 'image')
            - if build.images.any?
              %li.last= "Last updated #{time_ago_in_words(build.updated_at)} ago"
      
- else
  - if owns_site?
    = render 'first_build_intro'
  - else
    %p.none
      = @site.name
      has no public builds to view!
    
= content_for :body_end do
  :javascript
    $('#builds > li').click(function() {
      location.href = $(this).attr('data-path');
    });