= semantic_form_for [:admin,@image] do |form|
  = form.inputs do
    = form.input :build, :label => 'Build'
    = form.input :filename, :label => 'Filename'
    = form.input :description, :label => 'Description'
  = form.buttons
