%p#notice= notice

%p
  %b User:
  = @site.user_id
%p
  %b Name:
  = @site.name
%p
  %b Path:
  = @site.path
%p
  %b Show in directory:
  = @site.show_in_directory

= link_to 'Edit', edit_site_path(@site)
\|
= link_to 'Back', sites_path
