%p#notice= notice

%p
  %b User:
  = @build.user_id
%p
  %b Site:
  = @build.site_id
%p
  %b Name:
  = @build.name
%p
  %b Hashtag:
  = @build.hashtag
%p
  %b Archived:
  = @build.archived
%p
  %b Public:
  = @build.public
%p
  %b Last login at:
  = @build.last_login_at
%p
  %b Views:
  = @build.views

= link_to 'Edit', edit_admin_build_path(@build)
\|
= link_to 'Back', admin_builds_path
