!!!
%html
  %head
    %title
      = @page_title || ''
      | Watch Me Make This
    %link(rel="stylesheet" type="text/css" href="/stylesheets/reset-fonts.css" media="all")
    %link(rel="stylesheet" type="text/css" href="/stylesheets/shared.css" media="all")
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21347690-1']);
      _gaq.push(['_setDomainName', '.watchmemakethis.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    - if flash[:notice]
      #notice= flash[:notice]
    %h1 
      %a(href="/") 
        %span Watch Me Make This (Admin)
    .container
      = yield
      
    .debug
      %p= "Session: #{session.inspect}"
      %p= "Flash: #{flash.inspect}"