!!!
%html.admin
  %head
    %title Admin | Watch Me Make
    = stylesheet_link_tag :reset
    = stylesheet_link_tag :admin
    = javascript_include_tag 'admin'
    
    = csrf_meta_tag

  %body(class="#{controller.controller_name}-#{controller.action_name}")
    %nav
      %h1 Watch Me Make
      /%span.return= link_to '&laquo; Return to App'.html_safe, root_path
      = render 'admin/home/nav'

    #main
      = render 'shared/flash', :flash => flash
      = yield
