<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Tesla</title>
  <%= stylesheet_link_tag 'reset-fonts','main',params[:controller] %>
  <%= javascript_include_tag 'prototype','effects' %>
</head>

<body id="<%= controller %>">
  
  <div id="header">
    <ul id="tabs">
      <li <%= 'class="selected"' if ['projects','comps'].include? params[:controller] %>><%= link_to 'Projects', projects_path %></li>
      <li <%= 'class="selected"' if ['authors'].include? params[:controller] %>><%= link_to 'Authors', authors_path %></li>
      <li <%= 'class="selected"' if params[:controller] == 'comps' && params[:action] == 'new' %>><%= link_to 'Upload', new_comp_path %></li>
    </ul>
    <div id="search">
      <form id="search_form" method="post" action="<%= url_for :controller => 'search' %>">
        <input type="text" id="q" name="q" value="" />
        <input type="submit" id="commit" name="commit" value="Search" />
      </form>
    </div>
  </div>
  
  <div id="container">
    <%= yield %>
  </div>

</body>
</html>