!!!
%html
  %head
    %title
      = @page_title + " @ " if @page_title
      Watch Me Make This
    = stylesheet_link_tag 'application'
    = javascript_include_tag "http://use.typekit.com/vsk7kal.js"
    :javascript
      try{Typekit.load();}catch(e){}

    = yield :head
    = csrf_meta_tag

  %body{:id => "#{controller.controller_name}-#{controller.action_name}", :class => 'marketing'}
    = render 'shared/flash', :flash => flash
    = yield
    
    %footer
      Copyright &copy;#{Time.now.year}
      = link_to 'Watch Me Make This', 'http://watchmemakethis.com'
    
    = javascript_include_tag 'application'
    = yield :body_end
    
    = render :partial => 'shared/debug' if Rails.env.development?
      